body {
    padding-top: 0px;
    padding-bottom: 20px;
    background-image: url('15349_miscellaneous_electronic_circuit.jpg');
    background-color: #cccccc;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: whitesmoke;
}

img {
    opacity: 0.7;
    filter: alpha(opacity=40);
    display: block;
    margin-left: auto;
    margin-right: auto;
    vertical-align: central;
    height: 50em;
    width: 50em;
    
}

.modal-content{
    background-image: url('15349_miscellaneous_electronic_circuit.jpg');
}


/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}



/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

#navSignIn {
    padding-right: 10em;
}

#view {
    vertical-align: bottom;
}

#inner {
    display: table;
    margin: 0px auto;
}
