<form class="form-horizontal" role="form" ng-submit="main.addPart()">
        <div class="container">

            <div class="form-group">
                <label class="control-label col-sm-2" for="name">Name:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="name" ng-model="main.part.name">
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2" for="partNumber">Part Number:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="name" ng-model="main.part.partNumber">
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2" for="description">Description:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="description" ng-model="main.part.description">
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2" for="shippingSize">Shipping Size:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="shippingSize" ng-model="main.part.shippingSize">
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2" for="quanity">Quanity:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="quanity" ng-model="main.part.quanity">
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2" for="name">Name:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="name" ng-model="main.part.name">
                </div>
            </div>

            <input type="submit" value="Save" />
        </div>
    </form>
