<form class="form-horizontal" role="form">
    <h3 class="modal-title">Add Part Page</h3>
    <div class="container">

        <div class="form-group">
            <label class="control-label col-sm-2" for="name">Name:</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="name" ng-model="addModal.part.name">
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-sm-2" for="name">Image Path:</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="name" ng-model="addModal.part.imagePath">
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-sm-2" for="partNumber">Part Number:</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="name" ng-model="addModal.part.partNumber">
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-sm-2" for="description">Description:</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="description" ng-model="addModal.part.description">
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-sm-2" for="shippingSize">Shipping Size:</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="shippingSize" ng-model="addModal.part.shippingSize">
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-sm-2" for="quanity">Quanity:</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="quanity" ng-model="addModal.part.quanity">
            </div>
        </div>

        <a ng-click="addModal.savePart()">Save</a>

    </div>
</form>
