<div class="container">
    <table ng-cloak="true" class="table table-responsive">
        <thead>
            <tr>
                <th>
                    Image
                </th>

                <th>
                    Name
                </th>

                <th>
                    Part Number
                </th>

                <th>
                    Description
                </th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="part in deleteModal.parts | filter:{partIsDeleted:true}">
                <td><img ng-src="{{part.image}}"></td>
                <td>{{part.name}}</td>
                <td>{{part.partNumber}}</td>
                <td>{{part.description}}</td>
                <td>{{part.partIsDeleted}}</td>
            </tr>
            <tr>
                <td><h2>Remove these parts from the database?</h2></td>
                <a ng-click="deleteModal.deleteYes()"> Delete? </a>
            </tr>
        </tbody>
    </table>

</div>