<div class="container">
    <form class="form-horizontal" role="form">
        <h1>Edit part Page</h1>

        <div class="form-group">
            <label class="control-label col-sm-2" for="name">Name:</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="name" ng-model="modal.part.name">
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-sm-2" for="partNumber">Part Number:</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="name" ng-model="modal.part.partNumber">
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-sm-2" for="description">Description:</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="description" ng-model="modal.part.description">
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-sm-2" for="shippingSize">Shipping Size:</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="shippingSize" ng-model="modal.part.shippingSize">
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-sm-2" for="quanity">Quanity:</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="quanity" ng-model="modal.part.quanity">
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-sm-2" for="partIsDeleted">partIsDeleted:</label>
            <div class="col-sm-10">
                <input type="checkbox" class="form-control" id="partIsDeleted" ng-model="modal.part.partIsDeleted">
            </div>
        </div>

        <a ng-click="modal.save()">Save</a>

    </form>
</div>