<div class="container">

  
    <a ng-click="main.addPart()">AddPart</a>
    <br />  
    <a ng-click="main.adminPartsDelete()">AdminPartsDelete</a>


    <table ng-cloak="true" class="table table-responsive">
        <thead>
            <tr>
                <th>
                    Image
                </th>

                <th>
                    Category
                </th>

                <th>
                    Part Number
                </th>

                <th>
                    Description
                </th>
                <th>
                    partIsDeleted
                </th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="part in main.parts" ng-click="main.showDetails(part.id)">
                <td><img ng-src="{{part.image}}"></td>
                <td>{{part.name}}</td>
                <td>{{part.partNumber}}</td>
                <td>{{part.description}}</td>
                <td>{{part.partIsDeleted}}</td>
            </tr>

           
        </tbody>
    </table>


</div>