<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <nav class="navbar navbar-default navbar-static-top" role="navigation">
                <div class="navbar-header">

                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
                    </button> <a class="navbar-brand" href="#">MySparePart</a>
                </div>

                <div ng-controller="MenuController as menu" class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li class="active">
                            <a ng-click="main.addPart()">AddPart</a>
                        </li>
                        <li>
                            <a ng-if="main.isAdmin()" ng-click="main.adminPartsDelete()">AdminPartsDelete</a>
                        </li>
                    </ul>
                    <form class="navbar-form navbar-left" role="search">
                        <div class="form-group">
                            <input ng-model="main.search" ng-change="main.fetch()" />
                        </div>
                    </form>

                    <ul ng-controller="MenuController as menu" class="nav navbar-nav navbar-right" id="navSignIn">
                        <li>
                            <a href ng-if="!menu.showLogin()" ng-click="main.showLogin()">Sign in</a>
                        </li>
                        <li>
                            <a href ng-if="!menu.showLogin()" ng-click="main.showRegister()">Register</a>
                        </li>
                        <li>
                            <a href ng-if="menu.showLogin()" ng-click="menu.logout()">Sign out</a>
                        </li>
                    </ul>
                </div>

            </nav>
        </div>
    </div>
</div>