<html xmlns="http://www.w3.org/1999/xhtml" ng-app="PartApp">
<head>
    <title></title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/Site.css" rel="stylesheet" />
    <base href="/" />
</head>
<body ng-controller="PartListController as main">
    <div ng-include src="'/ngPartials/navBar.html'"></div>

    

    <ng-view>

    </ng-view>

    <script src="~/Scripts/angular.min.js"></script>
    <script src="~/Scripts/angular-resource.min.js"></script>
    <script src="~/Scripts/angular-ui/ui-bootstrap-tpls.min.js"></script>
    <script src="~/Scripts/angular-route.min.js"></script>
    @*https://cdnjs.cloudflare.com/ajax/libs/angular-smart-table/2.1.0/smart-table.min.js*@
    <script src="~/ngApp/app.js"></script>
    <script src="~/ngApp/Controllers.js"></script>
    <script src="~/ngApp/Services.js"></script>
 
</body>
</html>